nav {
    display: grid;
    background-color: rgba(255, 46, 9, 0.3);
}

nav ul {
    margin: 0px;
    padding: 20px;
    list-style-type: none;
}

nav ul li {
    width: 100%;
    display: grid;
    grid-column: 1 span / 3;
}

