
nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;

}
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(235, 76, 14, 0.3);
    margin: 0 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    margin: 0 50px;
}
header ul {
    background-color: rgba(10, 200, 9, 0.3);
    display: flex;
    list-style-type: none;
    width: auto;
    justify-content: space-between;
    text-align: justify;
}

nav ul li {
    width: 100px;
    text-align: center;
}

footer {
    background-color: rgba(220, 235, 14, 0.3);
}