* {
    box-sizing: border-box;
}
#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-auto-rows: auto;
    margin: 0px 50px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/8;
    grid-row: 4/5;
}
body {
    background-color: #25274D;
    color: white;
}
nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    width: auto;
    justify-content: space-around;

}

header {
    grid-column: 1 / -1;
    margin: 0;
    padding: auto;
    display: flex;
    width: auto;
    justify-content: space-around;
    text-align: right;
    border: 5px solid #2C3E50;
    border-bottom: none;
    background-color: #29648A;
}

br{
    display: block;
}

footer {
    grid-column: 1 / -1;
    border-top: 5px solid #2C3E50;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    grid-column: 1 / -1;
    padding: 20px 0;
    border: 5px solid #2C3E50;
    margin: 0;
    background-color: #464866;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/*Skibidi*/
.background {
    height: 200px;
    width: auto;
    background-image: url(images/pexels-jplenio-1103970.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1 / -1;
    grid-row: 3/4;
    margin-bottom: 20px;
}
.about_background {
    height: 200px;
    width: auto;
    background-image: url(images/car_banner.jpg);
    background-size: 100% 100%;
    background-position: center;
    grid-column: 1 / -1;
    grid-row: 3/4;
    margin-bottom: 20px;

}
.main_text {
    font-size: large;
    flex: 50%;
    padding-right: 20px;
}
.button {
    grid-column: 3 / 4;
    padding: 10px;
    flex: 50%;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: #2E9CCA;
}
.button a {
    color: white;
    text-decoration: none;
}
.button:hover {
    background-color: #29648A;
    color: white;
}
#pumpkin_image {
    grid-column: 6 / 7;
}

@media only screen and (max-width: 992px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(3, minmax(50px, 175px)) 992px repeat(3, minmax(50px, 175px)) minmax(0px, 1fr);
    }

    #pumpkin_image {
        display: flex;
    }

}

@media only screen and (max-width: 768px) {
    #wrapper {
        grid-template-columns: repeat(3, minmax(0, 175px)) repeat(3, minmax(0, 175px));

    }
    header {
        font-size: 50%;
        text-align: center;

    }
    #pumpkin_image, .three, .background {
        flex: 100%;
    }
    .flex-container {
        grid-column: 2/6;
        column-gap: 0;
    }
    #pumpkin_image img {
        width: 75%;
        align-content: center;
    }
    .button {
        padding: 5px;
    }
    nav a{
        font-size: 80%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        
    }

}

